/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #859bb1c4;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 90%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

.container .form {
  padding: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.2rem;
  color: #0A2558;
}

.form input {
  height: 50px; 
  width: 100%;
  padding: 0 15px;
  font-size: 14px; 
  margin-bottom: 1rem; 
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 15px; 
  color: #2697FF;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #0A2558;
  font-size: 0.9rem;
  margin-top: 1.5rem; 
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.login.form {
  position: relative; 
}

.password-input {
  position: relative;
}

.password-input input {
  padding-right: 30px;
}

.password-input #togglePassword {
  position: absolute;
  right: 10px; 
  top: calc(50% - 0.5em);
  transform: translateY(-50%);
  cursor: pointer;
}


#errorMessages {
  color: red;
  text-align: center;
  margin-bottom: 20px; 
}

.form input.button:hover {
  background: #0A2558;
}
 


/* Media query for responsiveness below small screens */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  .form input {
    height: 40px;
    font-size: 14px;
    margin-bottom: 0.8rem;
  }

  .form a {
    font-size: 14px;
  }

  .form input.button {
    font-size: 0.9rem;
    margin-top: 1.3rem;
  }

  .signup {
    font-size: 14px;
  }
}
